*{
    margin: 0;
    padding: 0;
    color: white;
}
body{
    background-color: #070F2B;
}
.main{
    box-shadow: 0 0 50px black;
}
.main nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding: 0 50px;
}
.main nav, .main .bio, .about h2, .skill h2{
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.main nav .logo{
    font-size: 40px;
    color: #EF4040;
}
.main nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main nav ul li+li{
    margin-left: 40px;
}
.main nav ul li{
    position: relative;
    padding: 50px 5px 5px 5px;
}
.main nav ul li a{
    color: white;
    text-decoration: none;
    z-index: 1;
    position: relative;
}
.main nav ul li::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    display: block;
    background-color: #EF4040;
    top: 0;
    left: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 3px;
    transition: 0.5s;
}
.main nav ul li:hover::after{
    height: 100%;
}
.main nav ul .active{
    position: relative;
    padding: 50px 5px 5px 5px;
}
.main nav ul .active::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #EF4040;
    top: 0;
    left: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 3px;
    transition: 0.5s;
}

/* ------------------------------Bio section--------------------------------------- */
.main .bio{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    margin-bottom: 100px;
} 
.main .bio .my-bio p{
    letter-spacing: 2px;
    font-size: 20px;
    margin: 0;
}
.main .bio .my-bio p span{
    color: #EF4040;
}
.main .bio .my-bio h1{
    letter-spacing: 2px;
    font-size: 50px;
    margin: 0;
}
.main .bio .my-bio h1 span{
    color: #EF4040;
}
.main .bio .my-image{
    width: 400px;
}
.main .bio .my-image img{
    width: inherit;
}

/* ----------------------------------------about section------------------------------ */
.main .about {
    padding: 0 50px;
    margin-bottom: 100px;
}
.main .about h2{
    margin-bottom: 40px;
}
.main .about h2 span{
    color: #EF4040;
}
.content-main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Fredoka", sans-serif;
    letter-spacing: 2px;
}
.content-main .content .details{
    margin-bottom: 50px;
}
.content-main .content .details ul{
    list-style: none;
    padding: 0;
}
.content-main .content .details ul li{
    margin-bottom: 5px;
    font-size: 18px;
}
.content-main .content .details ul li span{
    margin-right: 10px;
    color: #EF4040;
}
.content-main p{
    margin: 0;
    text-align: justify;
}
/* ----------------------------skill section------------------------------------ */
.main .skill {
    padding: 0 50px;
    margin-bottom: 100px;
}
.main .skill h2{
    margin-bottom: 40px;
}
.main .skill h2 span{
    color: #EF4040;
}
.main .skill p{
    margin: 0;
    text-align: justify;
    font-family: "Fredoka", sans-serif;
    letter-spacing: 2px;
    margin-bottom: 50px;
}
.main .skill .skill-icon{
    position: relative;
    height: 350px;
    /* border: 1px solid black; */
}
.main .skill .skill-icon .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-45deg);
    box-shadow: inset 0 0 30px black;
    background-position: center;
    background-size: contain;
    border-radius: 10px;
}
.main .skill .skill-icon #html{
    width: 130px;
    height: 130px;
    background-image: url(./images/html.jpg);
    border: 5px solid darkorange;
    position: absolute;
    top: 62px;
}
.main .skill .skill-icon #css{
    width: 100px;
    height: 100px;
    background-image: url(./images/css.jpg);
    border: 5px solid blue;
    position: absolute;
    left: 112px;
}
.main .skill .skill-icon #js{
    width: 165px;
    height: 165px;
    background-image: url(./images/js.jpg);
    border: 5px solid yellow;
    position: absolute;
    left: 135px;
    top: 112px;
}
.main .skill .skill-icon #bootstrap{
    width: 100px;
    height: 100px;
    background-image: url(./images/bootstrap.jpg);
    border: 5px solid violet;
    position: absolute;
    left: 290px;
    top: 69px;
}
.main .skill .skill-icon #jquery{
    width: 120px;
    height: 120px;
    background-image: url(./images/jquery.jpg);
    border: 5px solid skyblue;
    position: absolute;
    left: 316px;
    top: 189px;
}
.main .skill .skill-icon #ajax{
    width: 90px;
    height: 90px;
    background-image: url(./images/aj.jpg);
    border: 5px solid cyan;
    position: absolute;
    left: 421px;
    top: 274px
}